.profile{
    position: absolute;
    top: 90px;
    right: 0;
}

.window{
    width: 834px;
    height: 474px;
    border-radius: 0 0 0 43px;
    background-color: #FFFFFF;
    position: relative;
}

.block{
    width: 537px;
    height: 454px;
    background-color: #1C2135;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 43px 0 43px;
    padding: 20px;
}

.image{
    border-radius: 50%;
    margin: 20px 0 20px 0;
}

.crown{
    position: absolute;
    top: 8px;
    left: 40px;
}

.container1{
    display: flex;
    flex-direction: row;
}

.container2{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.name{
    color: #FFFFFF;
    font-weight: 1000;
    font-size: 40px;
}

.subscribes{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
}

.subscribe{
    color: #01F8E0;
    font-weight: 1000;
    font-size: 24px;
}

.subscribeActive{
    color: #01F8E0;
    font-weight: 1000;
    font-size: 36px;
}

.textStatus{
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 1000;
}

.status{
    color: #F8FF35;
    font-size: 20px;
    font-weight: 1000;
}

.container3{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px 0 0 12px;
}

.container4{
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

.count{
    font-size: 32px;
    font-weight: 1000;
    color: #00FFDA;
}

.text{
    font-size: 24px;
    font-weight: 1000;
    color: #FFFFFF;
}

.navigation{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 40px;
    right: 0;
    bottom: 0;
    margin: 0 60px 114px 0;
    max-width: 206px;
}

.link{
    font-size: 24px;
    font-weight: 1000;
    color: #1C2135;
    text-decoration: none;
}

.container5{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    gap: 10px;
    top: 40px;
    right: 20px;
}

.ball{
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FF007B;
}

.container6{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    gap: 20px;
    right: 28px;
    bottom: 40px;
}

.city{
    font-size: 24px;
    font-weight: 1000;
}