#root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    background-color: #F8F8F8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #1C2135;
    text-decoration: none;
}

button{
    font-weight: 800;
    font-size: 26px;
    cursor: pointer;
}

h1{
    color: #FFFFFF;
}

h2{
    font-weight: 300;
    color: #FFFFFF;
}

.ymaps-2-1-79-map-copyrights-promo{
    display: none;
}

