.container{
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    height: 100vh;
    width: 100%;
    align-items: center;
    gap: 30px;

}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}